:root {
  // shared variables here
  --guts-color-selected: rgb(107, 183, 250);
  --guts-color-white: rgb(239, 253, 255);
  --guts-color-light: rgb(216, 228, 230);
  --guts-color-light-shade: rgb(193, 206, 208);
  --guts-color-black: rgb(18, 18, 18);
  --guts-color-dark: rgb(28, 28, 28);
  --guts-color-dark-tint: rgb(38, 38, 38);
  --guts-color-dark-paper: #26292a;

  --guts-color-medium: rgb(69, 69, 69);
  --guts-color-text: #abb2bf;
  --guts-color-heading: #c5d0d1;
  --guts-color-yellow: #ecbf6f;
  --guts-color-blue: #62afef;
  --guts-color-blue-rgb: 98, 175, 239;
  --guts-color-purple: #c678dd;
  --guts-color-purple-rgb: 198, 120, 221;
  --guts-color-orange: #e5c07b;
  --guts-color-orange-rgb: 229, 192, 123;
  --guts-color-green: #98c379;
  --guts-color-green-rgb: 152, 195, 121;
  --guts-color-red: #f06d6d;
}
